<!-- HEADER -->
<!-- ###### -->
<div class="header">
	<header>
		<!-- Searching-Field -->
		<!-- =============== -->
		<div class="col-4">
			<div class="searchField">
				<input type="text" placeholder="Searching..."> 
			</div>
		</div>

		<!-- LOGO -->
		<!-- ==== -->
		<div class="col-4">
			<div class="logo">
				<img src="assets/img/logo-design-49570.png" alt="">
				<p>PM-Tool</p>
			</div>
		</div>

		<!-- Functions -->
		<!-- ========= -->
		<div class="col-4 functions">

			<!-- Vacation-Planer -->
			<!-- --------------- -->
			<div class="function time-tracking">
				<img src="assets/icons/calendar.png" alt="">
			</div>

			<!-- Time-Tracking -->
			<!-- ------------- -->
			<div class="function time-tracking">
				<img src="assets/icons/timer.png" alt="">
			</div>

			<!-- Profile Dropdown -->
			<!-- ---------------- -->
			<div class="profile-dropdown">

				<div class="function profile">					
					<!-- Icon -->
					<div class="icon">
						<img src="assets/icons/profile.png" alt="">
					</div>
					<!-- Text -->
					<div class="text">
						<p class="name">{{name}}</p>
						<p class="department">{{department}}</p>
					</div>
				</div>

				<!-- Dropdown-Content -->
				<!-- ================ -->
				<div class="dropdown-content">
					<div class="dropdown-item">
						<span>Settings</span>	
					</div>
					<div class="dropdown-item">
						<span>Nothing</span>	
					</div>
					<div class="dropdown-item logout" routerLink="/">
						<span>Logout</span>	
					</div>
				</div>

			</div>
		</div>
	</header>
</div>