.content-wrapper {
    position: relative;
    top: 48px;
    display: flex;
    flex-direction: row;
    height: var(--content-height);

    .content-box {
        position: relative;
        left: 288px;
        width: var(--content-width);

        .content-header-background {
            background-color: var(--background-color);
            position: fixed;
            height: 100px;
            width: var(--content-width);
            z-index: 2;
            padding: 12px;
            box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);

            .content-header-card {
                background-color: white;
                height: 100%;
                border-radius: 8px;
                border: 1px solid rgb(221, 209, 209);
                padding: 4px 4px;
                display: flex;

                .button-back {
                    background-color: var(--highlight-color-I);
                    border-radius: 4px;
                    margin-right: 8px;
                    width: 20px;
                    height: 100%;
                    text-align: center;
                    padding-top: 22px;
                    font-weight: bold;
                    border: 1px solid rgba(0,0,0,0.2);
                    cursor: pointer;
                    color: white;
                }

                .button-back:hover {
                    background-color: rgb(29, 98, 133);
                }
            }
        }

        .main-content {
            position: absolute;
            top: 106px;
            width: 100%;
            height: 32px;
            margin-top: 4px;
            padding: 8px 12px;

            .main-content-headline {
                font-size: 1.2em;
                font-weight: bold;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: rgb(60, 60, 60);
                margin-bottom: 8px;
                margin-left: 4px;
            }

            .main-data-container {
                margin-bottom: 6px;
            }

            .my-input {
                display: flex;
                flex-direction: column;

                label {
                    font-size: .8em;
                    margin-bottom: 2px;
                    margin-left: 5px;
                    color: rgb(52, 52, 52);
                }

                input {
                    margin-right: 52px;
                    border-radius: 4px;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    padding: 2px 3px;
                    outline: none;
                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
                }
            }

            .additional-data {
                background-color: rgb(200, 200, 200);
                margin-right: 52px;
                margin-top: 24px;
                padding: 6px 12px;
                border-radius: 6px;
                border: 1px solid rgba(0, 0, 0, 0.15);
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
                z-index: 2;

                h1 {
                    font-size: 1.1em;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    color: rgb(40,40,40);
                    text-decoration: underline;
                    margin-bottom: 12px;
                }



            }

            .additional-data:last-child {
                margin-bottom: 76px;
            }

        }
    }
}
