.content-wrapper {
    position: relative;
    top: 48px;
    display: flex;
    flex-direction: row;
    height: var(--content-height);

    .content-box {
        position: relative;
        left: 288px;
        width: var(--content-width);
    }

    .content-header-background {
        background-color: var(--background-color);
        position: fixed;
        height: 100px;
        width: var(--content-width);
        z-index: 50;
        padding: 12px;
        box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);

        .content-header-card {
            background-color: white;
            height: 100%;
            border-radius: 8px;
            border: 1px solid rgb(221, 209, 209);
            padding: 8px 12px;
        }
    }

    .main-content {
        //background-color: orange;
        position: absolute;
        top: 106px;
        width: 100%;
        margin-top: 4px;
        padding: 8px 12px;

        .list-card {
            background-color: rgb(243, 243, 243);
            margin-bottom: 8px;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 4px;
            min-height: 28px;
            display: flex;
            flex-direction: row;            

            .card-select {
                //background-color: lime;
                padding: 3px 4px 3px 4px;
                border-right: 1px solid rgba(0,0,0,0.2);
            }

            .card-content-wrapper {
                //background-color: lightcoral;
                width: 100%;
                padding: 4px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .card-content-left > span {
                    margin-left: 6px;
                    background-color: lime;
                }

                .card-content-right > span {
                    margin-right: 6px;
                    background-color: orange;
                }
                
            }

            .card-open {
                background-color: rgb(29, 98, 133);
                margin-left: auto;
                border-left: 1px solid rgba(0,0,0,0.1);
                padding: 2px 2px 2px 2px;
                margin-top: 2px;
                margin-right: 2px;
                margin-bottom: 2px;
                border-radius: 4px;

                display: flex;
                align-items: center;

                span {
                    color: white;
                }
                
            }

            .card-open:hover {
                cursor: pointer;
            }

        }

        .list-card:last-of-type {
            margin-bottom: 76px;
        }

        .list-card:hover {
            background-color: rgba(255,255,255,0.9);
        }
    }
}
