<!-- HEADER -->
<!-- ###### -->
<app-header></app-header>

<!-- CONTENT-Wrapper -->
<!-- ############### -->
<div class="content-wrapper">

    <!-- Navigation -->
    <!-- ---------- -->
    <app-navigation></app-navigation>

    <!-- QUICKLINKS -->
    <!-- ---------- -->
    <app-quicklinks></app-quicklinks>

    <!-- CONTENT -->
    <!-- ------- -->

    <div class="content-box">
        <!-- Content Head -->
        <!-- ------------ -->
        <div class="content-header-background">
            <div class="content-header-card">
                <h1>Test</h1> <br> Searching... / Filter... / Sorting...
            </div>
        </div>

        <!-- Content Data -->
        <!-- ------------ -->

        <div class="main-content">
            <div class="list-card" *ngFor="let teamMember of teamMembers; index as i">
                <div class="list-card-wrapper">
                    <div class="selection"><input type="checkbox"></div>

                    <div class="tile-content">
                        <div class="left">test1</div>
                        <div class="right">test2</div>                       
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<!-- ###### -->
<app-footer></app-footer>
