<!-- HEADER -->
<!-- ###### -->
<app-header></app-header>

<!-- CONTENT-Wrapper -->
<!-- ############### -->
<div class="content-wrapper">

    <!-- Navigation -->
    <!-- ---------- -->
    <app-navigation></app-navigation>

    <!-- QUICKLINKS -->
    <!-- ---------- -->
    <app-quicklinks></app-quicklinks>

    <!-- CONTENT -->
    <!-- ------- -->

    <div class="content-box">
        <!-- Content Head -->
        <!-- ------------ -->
        <div class="content-header-background">
            <div class="content-header-card">
                <h1>Test</h1> <br> Searching... / Filter... / Sorting...
            </div>
        </div>

        <!-- Content Data -->
        <!-- ------------ -->

        <div class="main-content">

            <div class="list-card" *ngFor="let teamMember of teamMembers; index as i">
                
                <div class="card-select">
                    <input type="checkbox">
                </div>

                <div class="card-content-wrapper">
                    <div class="card-content-left">
                        <span>{{teamMember.number }}</span>
                        <span>{{teamMember.firstName }}</span>
                        <span>{{teamMember.lastName}}</span>
                        <br>
                        <span>E-Mail:</span>
                        <span>{{ teamMember.email}}</span>
                    </div>
                    <div class="card-content-right">
                        <span>card-content right</span>
                        <span>card-content right</span>
                    </div>
                </div>

                <div class="card-open">
                    <span>></span>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<!-- ###### -->
<app-footer></app-footer>
