<!-- HEADER -->
<!-- ###### -->
<app-header></app-header>

<!-- CONTENT-Wrapper -->
<!-- ############### -->
<div class="content-wrapper">

    <!-- Navigation -->
    <!-- ---------- -->
    <app-navigation></app-navigation>

    <!-- QUICKLINKS -->
    <!-- ---------- -->
    <app-quicklinks></app-quicklinks>

    <!-- CONTENT -->
    <!-- ------- -->

    <div class="content-box">
        <!-- Content Head -->
        <!-- ------------ -->
        <div class="content-header-background">
            <div class="content-header-card">
                <h1>Team Members</h1> <br> Searching... / Filter... / Sorting...
            </div>
        </div>

        <!-- Content Data -->
        <!-- ------------ -->

        <div class="main-content">
            <div class="list-card" *ngFor="let teamMember of teamMembers; index as i">

                <div class="list-card-wrapper">

                    <div class="selection"><input type="checkbox"></div>

                    <div class="test-content">
                        <div class="content-left">
                            <p><span class="name">PNR {{teamMember.number}} {{teamMember.firstName}} {{teamMember.lastName}}</span></p>

                            <p>
                                <span class="contact label">E-Mail:</span><span class="contact info">{{teamMember.email}}</span>
                                <span class="contact label">Phone:</span><span class="contact info">{{teamMember.fon}}</span>
                                <span class="contact label">Mobile:</span><span class="contact info">{{teamMember.mobile}}</span>
                            </p>

                            <p><span class="contact label">Adresse:</span>
                                <span class="contact address">{{teamMember.street}} {{teamMember.houseNumber}}</span>
                                <span class="contact address">{{teamMember.postCode}}</span>
                                <span class="contact address">{{teamMember.city}}</span>
                            </p>
                        </div>
                        <div class="content-right">

                            <div class="info-box">
                                <p class="label">Resturlaub</p>
                                <p class="info">18 Tage</p>
                            </div>

                            <div class="info-box">
                                <p class="label">Genehmigt</p>
                                <p class="info">5,5 Tage</p>
                            </div>

                            <div class="info-box">
                                <p class="label">Überstunden</p>
                                <p class="info">5:41 h</p>
                            </div>

                            <div class="info-box">
                                <p class="label">Krankentage</p>
                                <p class="info">2,0 Tage</p>
                            </div>

                            <!-- todo -->
                            <div class="info-box status off">
                                <div class="status-box">

                                    <!-- <div class="icon">
                                        x
                                    </div> -->

                                    <div class="text">
                                        <p class="label">Abwesend</p>
                                        <p class="info">Stundenabbau</p>
                                    </div>

                                </div>
                            </div>

                            <!-- <div class="info-box status on">
                                img
                                <p class="label">Anwesend</p>
                                <p class="info">08:15:23</p>
                            </div> -->

                        </div>
                    </div>

                    <div class="open-item" (click)="onClick(teamMember)">></div>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<!-- ###### -->
<app-footer></app-footer>
