<!-- HEADER -->
<!-- ###### -->
<app-header></app-header>

<!-- CONTENT-Wrapper -->
<!-- ############### -->
<div class="content-wrapper">

    <!-- Navigation -->
    <!-- ---------- -->
	<app-navigation></app-navigation>

	<!-- QUICKLINKS -->
	<!-- ---------- -->
	<app-quicklinks></app-quicklinks>

	<!-- CONTENT -->
	<!-- ------- -->

    <div class="content-box">

        <div class="wrapper">

            <div class="overview">
                <span class="headline">Vacation Overview</span> <br>
                <br>
                Remaining vacation days 2022: 8  Stunden <br>
                Remaining vacation days 2022: 1 Tag <br>
                <br>
                Vacation Claim 2023: 192 Stunden <br>
                Vacation Claim 2023: 24 Tage <br>
                <br>
                Total vacation: 200 Stunden <br>
                Total vacation: 25 Tage <br>
                <br>
                Vacation taken: 24 Stunden <br>
                Vacation taken: 3 Tage <br>
                <br>
                Authorized vacation: 32 Stunden <br>
                Authorized vacation: 4 Tage <br>
                <br>





            </div>

            <div class="test">
                <div class="current">
                    <span class="headline">Current Vacation Requests</span>

                </div>

                <div class="current">
                    <span class="headline">Test</span>

                </div>
            </div>

        </div>

    </div>
</div>

<!-- FOOTER -->
<!-- ###### -->
<app-footer></app-footer>
