<div class="navigation-background">
    <div class="navigation">

        <div class="navigation-item active" routerLink="/dashboard">
            <img class="dashboard" src="assets/icons/dashboard.svg" alt="">
        </div>

        <div class="navigation-item inactive post-active" routerLink="/teamMembers">
            <img class="team-member" src="assets/icons/teamMembers.svg" alt="">
        </div>

        <div class="navigation-item inactive" routerLink="/folders">
            <img class="folders" src="assets/icons/office.svg" alt="">
        </div>

        <div class="navigation-item inactive" routerLink="/tests">
            <img class="tests" src="assets/icons/office.svg" alt="">
        </div>

    </div>
</div>
