<div class="navigation-background">
    <div class="navigation">

        <div class="navigation-item" routerLink="/dashboard" [ngClass]="classItem1">
            <img class="dashboard" src="assets/icons/dashboard.svg" alt="">
        </div>

        <div class="navigation-item" routerLink="/teamMembers" [ngClass]="classItem2">
            <img class="team-member" src="assets/icons/teamMembers.svg" alt="">
        </div>

        <div class="navigation-item" routerLink="/folders" [ngClass]="classItem3">
            <img class="folders" src="assets/icons/office.svg" alt="">
        </div>

        <div class="navigation-item" routerLink="/tests" [ngClass]="classItem4">
            <img class="tests" src="assets/icons/office.svg" alt="">
        </div>
        
        <!-- PLACEHOLDER ITEM -->
        <div class="navigation-item placeholder" routerLink="/tests" [ngClass]="classItemPlaceholder">
        </div>

    </div>
</div>
